.aboutus {color:#59686E;padding:24px 16px 0 16px;}
.aboutus h1 {border-bottom: 1px solid black;font-size:1.8em;}
.aboutus h1 .libraryfolder {color:#495d6c;}
.aboutus h1 .divider {color:#495d6c;font-weight:normal;}
.aboutus h1 .librarypage {color:#8f979d;}
.aboutus h2 {font-size:1.3em;margin:7px 0 5px 0;}
.aboutus p	{font-size: 1.1em;margin: 4px 0 0 11px;text-align:justify;}
.aboutus ul	{font-size: 1.1em;margin: 0 0 24px 24px;}